@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;800&display=swap');

$sora-sans: 'Sora', sans-serif;

$primary_color__1: #93e4c1;
$primary_color__2: #3baea0;
$primary_color__3: #118a7e;
$primary_color__4: #1f6f78;

$currency_rate_el__width_min: 15rem;
$currency_rate_el__width_max: 25rem;
$currency_rate_el__height: 10rem;

html {
  font-size: 14px;
}

.nav-bar-overlap-prevention {
  padding-top: 5rem;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-bar {
  padding: 0.5rem;
  margin: 0.6rem 0 0.6rem 0;
}

.pagination-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
}

.pagination-selector-text {
  font-weight: 600;
  text-transform: uppercase;
}

.currencies-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  list-style-type: none;
}

.currency-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: $currency_rate_el__width_max;
  height: $currency_rate_el__height;
  background: $primary_color__1;
  border-radius: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0.5rem;
}

.currency-rate__name {
  font-family: $sora-sans;
  font-weight: 800;
  text-align: center;
}
